@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  html,
  body {
    width: screen;
    overflow-x: hidden;
    position: relative;
    height: 100%;
  }
}
